html
  head
    block title
      title CV
    block link
      link(rel="stylesheet" href="reset.css")
      link(rel="stylesheet" href="style.css")
    block meta
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block script
      script(src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js")
  body
    .wrapper
      block header
        .header
          .header__logo
            a(href="#")
              img(src="img/logo1.png")
          .menu(onclick="right()")
          .header__nav
            ul.list
              li.list-item Home
              li.list-item About
              li.list-item Servises
              li.list-item Gallery
              li.list-item Contact
        .content
          block content
            form.content__form
              h1 Log in
              input(type="email" name="mail" placeholder="Your mail")
              input(type="password" name="password" placeholder="Your password")
              button Enter
      .footer
        .footer__contacts
            ul.list
              li.list-item
                a(href="https://twitter.com")
                  img(src="img/twitter.png")
              li.list-item
                a(href="#")
                  img(src="img/facebook.png")
              li.list-item
                a(href="#")
                  img(src="img/instagram.png")
          block footer
    script(src="main.js")
